@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #fff;
  --secondaryColor: rgb(16, 16, 16);
  --primaryFonts: 'Anton SC', sans-serif;
  --secondaryFonts: 'Work Sans', sans-serif;
  --btnColor: rgb(80, 195, 3);
  --pColor: rgb(255, 255, 255);
}

body {
  scroll-behavior: smooth;

/* hero are  */
.hero_container {
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero_items h6 {
  text-align: center;
  color: var(--pColor);
  font-size: 1rem;
  font-family: var(--secondaryFonts);
  font-weight: 600;
  margin-bottom: 1rem;
}
.hero_items h1 {
  text-align: center;
  color: var(--primaryColor);
  font-family: var(--secondaryFonts);
  width: 45%;
  font-size: 2rem;
  line-height: 40px;
  font-weight: 500;
}
.hero_items p {
  text-align: center;
  color: var(--pColor);
  opacity: 0.7;
  width: 68%;
  font: var(--primaryFonts);
  opacity: 0.7;
}
.hero_btn button {
  text-align: center;
  padding: 12px 22px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  background: var(--btnColor);
  color: var(--primaryColor);
  font-size: 18px;
  font-family: var(--secondaryFonts);
  font-weight: 600;
  margin-top: 2rem;
  transition: all 0.5s;
}
.hero_btn button:hover {
  background: green;
}

 /* card  Box are  */
.card_container
{
  height: 85vh;
  background: #fff;
}
.card_component
{
  text-align: center;
  height: 20%;

}
.card_component p
{
  font-size: 1rem;
  font-family: var(--secondaryFonts);
  font-weight: 500;
  color:rgb(16, 16, 16);
  opacity: 0.6;
}
.card_component h1
{
  text-align: center;
  margin-top: 2rem;
  font-family: var(--secondaryFonts);
  font-weight: 700;
}

.card_items
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img{
  width: 380px;
  height: 250px;
}
.menu
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.menu button
{ 
  
  padding: 14px 30px;
  color: var(--secondaryColor);
  background: rgba(82, 195, 3, 0.15);
  border: none;
  outline: none;
  border-radius: 8px;
  margin-top: 1rem;
  font-size: 1rem;
  font-family: var(--secondaryFonts);
  font-weight: 600;
}
.menu h1
{
  font-size: 2rem;
  font-family: var(--secondaryFonts);
  font-weight: 500;
  margin-top: 10px;
  text-align:center;
}
.menu p
{
  width: 85%;
  text-align: center;
  color: rgb(16, 16, 16);
  font-family: var(--secondaryFonts);
  font-weight: 400;
  margin-top: 5px;
}
.btn button
{
  
  background: var(--btnColor);
  padding:14px 30px ;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--secondaryFonts);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}  
.btn button:hover
{
  background: green;
}  

.btn{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* about us are   */

.abouts_container
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.containers01 img
{
width: 650px;
height: 400px;
}
.containers02
{
  line-height: 38px;
}
.containers02 h1
{
  color: var(--secondaryColor);
  font-family: var(--secondaryFonts);
  font-weight: 600;
  width: 90%;
  text-align: center;
}
.containers02 p 
{

  font-family: var(--secondaryFonts);
  font-weight: 500;
  color: var(--secondaryColor);
  text-align: center;
  margin-bottom: 20px;
}
.containers02 h4 
{
  text-align: center;
  padding: 15px;
  font-family: var(--secondaryFonts);
  font-weight: 600;
  opacity: 0.6;
}
.img_are{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}
.img_are img 
{
  height: 30px;
  width: 30px;
}